variable "aws_access_key" {
  description = "The AWS access key."
  default     = "XYXYXACCESSKEYXYXYX"
}

variable "aws_secret_key" {
  description = "The AWS secret key."
  default     = "XYXYSUPERSECRETKEYXYXYX"
}

variable "gitlab_repo_username" {
  description = "The username for the GitLab registry."
  default     = "XYXYSUPERSECRETKEYXYXYX"
}

variable "gitlab_repo_password" {
  description = "The password for the GitLab registry."
  default     = "XYXYSUPERSECRETKEYXYXYX"
}

